:root {
    /* 62.5% of 16px browser font size is 10px */
    font-size: 62.5%;
}

*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: rgb(235, 223, 223);
}

/*body*/

body {
    background: url(../images/star-background.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

/*header*/

header {
    height: 80px; 
  }

#logo {
    width: 50%;
    height: 100px;
    float: left;
}
  
img {
    height: 100px;  
  }

/* Dropdown Button */
.dropbtn {
    background-color: #ff9900;
    border-radius: 4px;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    width: 100px;
    height: 50px;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    padding-top: 4rem;
    padding-left: 2rem; 
    border-radius: 4px;
    width: 40%;
    float: left;  
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6cf23;
    min-width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ff9900;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {  
  display: flex;
}

h1 {
    font-size: 5.4rem;
    color: #f6cf23;
    margin-bottom: 5rem;
}

/* ship gif */
.ship {
    height: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
      }

/*Engage button styling */
.start-box {
    
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 5rem;
    flex-direction: column;
}

/* BUTTONS */
.btn {
    font-size: 1.8rem;
    padding: 1rem 0;
    width: 20rem;
    text-align: center;
    border: 0.1rem solid #f6cf23;
    border-radius: 4px;
    margin-bottom: 1rem;
    text-decoration: none;
    color: #040404;
    background-color: #ff9900;
  }
  
  .btn:hover {
    cursor: pointer;
    background-color: #f6cf23;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(107,107,178, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
  }
  
/*footer*/

/*footer*/
footer{
    display:flex;
    height: 100px;
    width: 100%;
    justify-content:center;
    align-items:center;
  }
  
  /* sets the list horizontally*/
  .social-networks > li {
    display: inline;
    float:left;
    margin:20px;
  }

  /* appearance of list items*/
  .social-networks i {
    font-size: 2.5rem;
    margin: 1%;
    padding: 3% 5%;
    color:#ff9900;
  }

  /*sets yellow when hover*/
  li i:hover {
    color: #f6cf23;
  }


/*Game Page*/

.game-container {
    max-width: 80rem;
    margin: 0 auto;
    padding: 5rem;
}

/* HUD */

.hud {
  display: flex;
  justify-content: space-between;
    
}

.hud-prefix {
  text-align: center;
  font-size: 2rem;
}

.hud-main-text {
  text-align: center;
}

/*Progress Bar*/
#progressBar {
  width: 20rem;
  height: 4rem;
  border: 0.3rem solid #cc6666;
  margin-top: 1.5rem;
}

#progressBarFull {
height: 3.4rem;
background-color: #cc6666;  
width: 0%;
}

/* Questions and answers*/
.choice-container {
  display: flex;
  margin-bottom: 0.5rem;
  width: 100%;
  font-size: 1.8rem;
  border: 0.1rem solid #6b6bb2;
  background-color: #6b6bb2;
  border-radius: 6px;
}

.choice-container:hover {
  cursor:pointer;
  transform: translateY(-0.1rem);
}

.choice-prefix {
  padding: 1.5rem 2.5rem;
  background-color: #cc99cc;
  color: white;
}

.choice-text {
  padding: 1.5rem;
  width: 100%;
  color: black;
}


