.end-score {
    padding-top: 40px;
    height: 140px; 
    display: flex;
    justify-content: space-around;
}

#finalScore {
    margin-bottom: auto;
    margin-top: 20px;
    border-style: solid;
    padding: 10px 10px 10px 10px;
    color: white;
}

#endbtn {
    display: flex;
    justify-content: center;
}

.btn {
    margin: 2px;
}

.score-table {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.win-score {
  padding: 2px;  
}

.win-image {
    height: 25%;
    width: 25%;
    margin-bottom: 5%;
}
